<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Directory" value="C:\Users\jeffrey.li\Documents\Git\CSharpMediaSelector\" />
    <add key="VLCDirectory" value="C:\Program Files (x86)\VideoLAN\VLC\vlc.exe" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>